		.h1	{
				font-size: 20px;
			}
		
		.body {
                width: 960px;
            }


        .header,.nav,.aside,.content,.footer,.content1,.content2,.content3 {
				margin-top: 10px;
                background:rgba(0,0,0,0,5);
                border:0.5px solid black;
				border-radius: 20px;
                color: black;
                text-align: center;
				color:#fff;
            }

            
		.header,.nav,.footer {
                width:100%;
            }

        .header,.footer {
                height: 50px;
				 font-size: 30px;
            }

        .nav {
                height: 60px;
				 font-size: 15px;
            }

        .aside {
				font-size:20px;
                float: left;
                height: 420px;
                width: 15%;
            }

        .content { 
                float: right;
                height: 580px;
                width: 84%;
				font-size:20px;
            }
			
		.content1 {
				float: right;
                height: 3000px;
                width: 84%;
				font-size:20px;
		}
		
		.content2 {
				float: right;
                height:1000px;
                width: 84%;
				font-size:20px;
		}
		
		
		.content3 {
				float: right;
                height:1250px;
                width: 84%;
				font-size:20px;
		}
		
		.font1{
			font-size:20px;
			float: right;
		}
			
		

        .footer {
				font-size: 15px;
                clear: both;
            }
			
		.ul{
			list-style:none;
		}
		
		.a{
			text-decoration:none;
			font-weight:bold;
		}
		
		.li{
			font-size:15px;
			display:inline;
			float:left;
			padding:10px;
		}
		
		.li: last-child{
			border-right:none; 
		}
		
		.li: hover{
			background-color:#ccc;
		}
		.ul1{
			list-style:none;
		}
		
		.a1{
			text-decoration:none;
			font-weight:bold;
		}
		
		.li1{
			font-size:15px;
			display:inline-block;
			float:left;
			padding:10px;
		}
		
		.li1: last-child{
			border-right:none; 
		}
		
		.li1: hover{
			background-color:#ccc;
		}
		.img{
			width : 45px;
			height: 45px;
			border: 0.2px solid #575D63;
			
		}
		.img1{
			width:250px;
			height:200px;
			transition:.8s;
			overflow:hidden;
		}
		
		.img2{
			width:300px;
			height:250px;
			transition:.8s;
		}
		
		.img3{
			width:450px;
			height:250px;
			transition:.8s;
		}
		
		.galery{
			margin:12px;
			margin-left:15px;
			margin-right:10px;
			float:left;
			margin-bottom:50px;
			width:250px;
			height:200px;
			border:1px solid white;
		}
		.galery: hover
		{	
			color:blue;
			border:1px solid black ;
			box-shadow:0px 0px 3px white;
			background-color:#ffee;
		}
		
		.desc  {
			background-color:white;
			text-align:center;
			font-size:16px;
			margin-top:0px;
		}
			
		.c1  {
				margin-top: 10px;
                background:white;
                border:0.5px solid white;
				border-radius: 20px;
                color: black;
                text-align: center;
				width:50px;
				height:30px;
				
            }
			
			.tulisan_login{
				text-align: center;
				text-transform: uppercase;
			}
			 
			.kotak_login{
				width: 350px;
				background: white;
				margin: 120px auto;
				padding: 30px 20px;
			}
			 
			label{
				font-size: 11pt;
				color:white:
			}
			 
			.form_login{
				box-sizing : border-box;
				width: 100%;
				padding: 10px;
				font-size: 11pt;
				margin-bottom: 20px;
			}
			 
			.tombol_login{
				background: #46de4b;
				color: white;
				font-size: 11pt;
				width: 100%;
				border: none;
				border-radius: 3px;
				padding: 10px 20px;
			}
			.tombol_login: hover{
				color:red;
			}
			.tombol_login: active{
				color: green;
			}
			.tombol_login: visited{
				background:yellow;
			}
			 
			.link{
				font-size: 10pt;
			}
			.link: hover{
				color:red;
			}
			.link: active{
				color:green;
			}
			.link: visited{
				background: yellow;
			}
			
			.body4{
				font-family: sans-serif;
			}
